<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Firebase Phone Auth (reCAPTCHA) 用: Encoded App ID -->
				<string>app-1-816472842049-ios-85f57fcd9a9019d8a04bc0</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>コーディネート画像をフォトライブラリから選択するために写真へのアクセスが必要です。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>作成したコーデコラージュ画像をカメラロールに保存するために使用します。</string>
</dict>
</plist>
